language: php

php:
  - '5.4'
  - '5.5'
  - '5.6'
  - '7.0'
  - '7.1'
  - '7.2'
  - '7.3'

before_script:
  - phpenv config-rm xdebug.ini || true
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source
  - composer dump-autoload -o

script:
  - php vendor/bin/phpunit -c phpunit.xml

notifications:
  email: false
